<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>제목: {{ article.title }}</h1>
  <h4>작성자: {{ article.user }}</h4>
  <p>내용: {{ article.content }}</p>
  <a href="{% url "boards:index" %}"><button>Back</button></a>
  <form action="{% url "boards:delete" article.pk %}" method= "POST">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>
  <hr>
  <h2>댓글</h2>
  {% comment %} 댓글 작성 {% endcomment %}
  <form action="{% url "boards:comment_create" article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p}}
    <input type="submit" value="등록">
  </form>
  <hr>
  {% comment %} 댓글 목록 {% endcomment %}
  {% for comment in comments %}
    <form action="{% url "boards:comment_delete" comment.pk %}" method ="POST">
      {% csrf_token %}
      <div style="margin: 10px">
        <span>{{ comment.content }} - 작성자: {{  comment.user }}</span>
        <input type="submit" value="삭제">
      </div>
    </form>
  {% endfor %}
</body>
</html>